<div class="home-page">
  <div>
    <app-header></app-header>
  </div>

  <div class="container-fluid table-container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div
          style="
            font-size: 25px;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 20px;
          "
        >
          Schedule Plans
        </div>
        <div class="button-container">
          <button class="btn-custom" (click)="viewAll()">View All</button>
          <button
            *ngIf="role === permission.procedurePlanner"
            class="btn-custom"
            (click)="toggleAddModal()"
          >
            Add
          </button>
          <button class="btn-custom" (click)="toggleSearchModal()">
            Search
          </button>
        </div>

        <div>
          <div
            *ngIf="campaign !== null"
            style="margin-top: 20px; font-weight: bolder"
          >
            Current branch
          </div>

          <table *ngIf="campaign !== null" class="table plan-campaign">
            <thead>
              <tr class="table-header">
                <th>Campaign ID</th>
                <th>Plan ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Effort(days)</th>
              </tr>
            </thead>
            <tbody class="table-body plan-campaign-body">
              <td>{{ campaign.campaignId }}</td>
              <td>{{ campaign.planId }}</td>
              <td>{{ campaign.product?.productName }}</td>
              <td>{{ campaign.quantity }}</td>
              <td>{{ campaign.unitEffortDays }}</td>
            </tbody>
          </table>
        </div>

        <table class="table">
          <thead>
            <tr class="table-header">
              <th>No.</th>
              <th>Schedule ID</th>
              <th>Campaign ID</th>
              <th>Date</th>
              <th>Shift Name</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let schedule of schedules; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ schedule.scheduleId }}</td>
              <td>{{ schedule.campaignId }}</td>
              <td>{{ schedule.date | date : "yyyy-MM-dd" }}</td>
              <td>{{ schedule.shift?.shiftName }}</td>
              <td>{{ schedule.quantity }}</td>
              <td>
                <button
                  *ngIf="role === permission.procedurePlanner"
                  (click)="openEditModal(schedule)"
                >
                  Edit
                </button>
                <button
                  *ngIf="role === permission.workerScheduleManager"
                  (click)="viewWorker(schedule)"
                >
                  View worker schedule
                </button>
                <button
                  *ngIf="role === permission.procedurePlanner"
                  (click)="openModal(schedule)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Add Record Modal -->
  <div
    class="modal"
    [ngClass]="{ show: isAddModalOpen }"
    id="addModal"
    *ngIf="isAddModalOpen"
  >
    <div class="modal-content">
      <span class="close" (click)="toggleAddModal()">&times;</span>
      <h3>Add Schedule</h3>
      <form (ngSubmit)="addRecord()">
        <div class="form-group">
          <label for="addScheduleID">Schedule ID</label>
          <input
            type="number"
            placeholder="Required"
            id="addScheduleID"
            [(ngModel)]="newSchedule.scheduleId"
            name="addScheduleID"
            class="form-control"
            required
          />
          <div *ngIf="errors.scheduleId" class="error-message">
            {{ errors.scheduleId }}
          </div>
        </div>
        <div class="form-group">
          <label for="addCampaignID">Campaign ID</label>
          <input
            type="number"
            placeholder="Required"
            id="addCampaignID"
            [(ngModel)]="newSchedule.campaignId"
            name="addCampaignID"
            class="form-control"
            required
          />
          <div *ngIf="errors.campaignId" class="error-message">
            {{ errors.campaignId }}
          </div>
        </div>
        <div class="form-group">
          <label for="addDate">Date</label>
          <input
            type="date"
            placeholder="Required"
            id="addDate"
            [(ngModel)]="newSchedule.date"
            name="addDate"
            class="form-control"
            required
          />
          <div *ngIf="errors.date" class="error-message">{{ errors.date }}</div>
        </div>
        <div class="form-group">
          <label for="editShift">Shift</label>
          <select
            [(ngModel)]="newSchedule.shift"
            name="shift"
            id="addShift"
            class="form-control"
          >
            <option *ngFor="let shift of shifts" [ngValue]="shift">
              {{ shift.shiftName }}
            </option>
          </select>
          <div *ngIf="errors.shift" class="error-message">
            {{ errors.shift }}
          </div>
        </div>
        <div class="form-group">
          <label for="addQuantity">Quantity</label>
          <input
            type="number"
            placeholder="Required"
            id="addQuantity"
            [(ngModel)]="newSchedule.quantity"
            name="addQuantity"
            class="form-control"
            required
          />
          <div *ngIf="errors.quantity" class="error-message">
            {{ errors.quantity }}
          </div>
        </div>
        <div class="form-buttons" style="margin-top: 10px">
          <button type="submit" class="btn-custom">Add</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal Search -->
  <div class="modal" [ngClass]="{ show: isSearchModalOpen }" id="searchModal">
    <div class="modal-content">
      <span class="close" (click)="toggleSearchModal()">&times;</span>
      <h3>Search Schedule</h3>
      <form (submit)="performSearch()">
        <div class="form-group">
          <label for="searchScheduleID">Schedule ID</label>
          <input
            type="number"
            name="scheduleId"
            placeholder="Not required"
            id="searchID"
            [(ngModel)]="searchCiteria.scheduleId"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="searchCampaignID">Campaign ID</label>
          <input
            type="text"
            name="campaignId"
            placeholder="Not required"
            id="searchCampaignID"
            [(ngModel)]="searchCiteria.campaignId"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="searchDate">Date</label>
          <input
            type="date"
            name="date"
            id="searchDate"
            [(ngModel)]="searchCiteria.date"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="editShift">Shift</label>
          <select
            [(ngModel)]="searchCiteria.shift"
            name="shift"
            id="addShift"
            class="form-control"
          >
            <option *ngFor="let shift of shifts" [ngValue]="shift">
              {{ shift.shiftName }}
            </option>
          </select>
        </div>
        <div class="form-buttons" style="margin-top: 10px">
          <button type="submit" class="btn-custom">Search</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Edit Modal -->
  <div [ngClass]="{ show: isEditModalOpen }" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <h3>{{ titleEdit }}</h3>
      <form (submit)="saveEdit()">
        <div class="form-group">
          <label for="editCampaignID">Campaign ID</label>
          <input
            type="number"
            id="editCampaignID"
            name="campaignId"
            [(ngModel)]="editSchedule.campaignId"
            class="form-control"
            required
          />
          <div *ngIf="errors.campaignId" class="error-message">
            {{ errors.campaignId }}
          </div>
        </div>
        <div class="form-group">
          <label for="editDate">Date</label>
          <input
            type="date"
            id="editDate"
            name="date"
            [(ngModel)]="editSchedule.date"
            class="form-control"
            required
          />
          <div *ngIf="errors.date" class="error-message">{{ errors.date }}</div>
        </div>
        <div class="form-group">
          <label for="editShift">Shift</label>
          <select
            [(ngModel)]="editSchedule.shift"
            name="shift"
            id="addShift"
            class="form-control"
          >
            <option *ngFor="let shift of shifts" [ngValue]="shift">
              {{ shift.shiftName }}
            </option>
          </select>
          <div *ngIf="errors.shift" class="error-message">
            {{ errors.shift }}
          </div>
        </div>
        <div class="form-group">
          <label for="editQuantity">Quantity</label>
          <input
            type="number"
            placeholder="Not required"
            id="editQuantity"
            name="quantity"
            [(ngModel)]="searchCiteria.quantity"
            class="form-control"
            required
          />
          <div *ngIf="errors.quantity" class="error-message">
            {{ errors.quantity }}
          </div>
        </div>
        <div class="form-buttons" style="margin-top: 10px">
          <button type="submit" class="btn-custom">Save Changes</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" [ngClass]="{ show: isVisible }">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>{{ titleModalDelete }}</p>
      <div class="modal-actions">
        <button (click)="confirmDelete()">Yes</button>
        <button (click)="closeModal()">No</button>
      </div>
    </div>
  </div>

  <div>
    <app-footer></app-footer>
  </div>
</div>
