<div class="login-page">
    <div class="form-login">
        <div class="login-panel">
            <h4>LOGIN PANEL</h4>
            <small>Inventory managerment system</small>
        </div>

        <div class="input-acccount">
            <div>Username</div>
            <input type="text" id="username input" name="username">
            <div>Password</div>
            <input type="text" id="password input" name="password">
        </div>

        <div class="btn-login">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>
