<div class="home-page">
    <div>
        <app-header></app-header>
    </div>

    <div class="container-fluid table-container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div style="font-size: 25px; font-weight: bolder; text-align: center; margin-bottom: 20px;">Attendent</div>
                <div class="button-container">
                    <button class="btn-custom" (click)="toggleAddModal()">Add</button>
                    <button class="btn-custom" (click)="toggleSearchModal()">Search</button>
                    <button class="btn-custom" (click)="viewAll()">View All</button>
                </div>

                <div>
                    <div style="margin-top: 20px; font-weight: bolder;">Current branch</div>
                    <table class="table production-plan">
                        <thead>
                            <tr class="table-header">
                                <th>Plan ID</th>
                                <th>Name</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Department</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-body production-plan-body">
                            <!-- Dữ liệu sẽ được chèn vào đây -->
                        </tbody>
                    </table>
                    <table class="table plan-campaign">
                        <thead>
                            <tr class="table-header">
                                <th>Campaign ID</th>
                                <th>Plan ID</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Effort(days)</th>
                            </tr>
                        </thead>
                        <tbody class="table-body plan-campaign-body">
                            <!-- Dữ liệu sẽ được chèn vào đây -->
                        </tbody>
                    </table>
                    <table class="table campaign-schedule">
                        <thead>
                            <tr class="table-header">
                                <th>Schedule ID</th>
                                <th>Campaign ID</th>
                                <th>Date</th>
                                <th>Shift Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-body campaign-schedule-body">
                            <!-- Dữ liệu sẽ được chèn vào đây -->
                        </tbody>
                    </table>
                    <table class="table worker-schedule">
                        <thead>
                            <tr class="table-header">
                                <th>Work ID</th>
                                <th>Schedule ID</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="table-body worker-schedule">
                            <!-- Dữ liệu sẽ được chèn vào đây -->
                        </tbody>
                    </table>
                </div>

                <div>
                    <button class="btn-custom" (click)="toggleSearchInTableModal()">Search in This Table</button>
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr class="table-header">
                                <th>No.</th>
                                <th>Attendent ID</th>
                                <th>Worker ID</th>
                                <th>Quantity</th>
                                <th>Alpha</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <!-- Dữ liệu sẽ được chèn vào đây -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- Add Record Modal -->
    <div class="modal" [ngClass]="{'show': isAddModalOpen}" id="addModal" *ngIf="isAddModalOpen">
        <div class="modal-content">
            <span class="close" (click)="toggleAddModal()">&times;</span>
            <h3>Add Record</h3>
            <form (ngSubmit)="addRecord()">
                <div class="form-group">
                    <label for="addAttendentID">Attendent ID</label>
                    <input type="text" id="addAttendentID" [(ngModel)]="addAttendentID" name="addAttendentID" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="addWorkerID">Worker ID</label>
                    <input type="text" id="addWorkerID" [(ngModel)]="addWorkerID" name="addWorkerID" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="addQuantity">Quantity</label>
                    <input type="number" id="addQuantity" [(ngModel)]="addQuantity" name="addQuantity" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="addAlpha">Alpha</label>
                    <input type="text" id="addAlpha" [(ngModel)]="addAlpha" name="addAlpha" class="form-control" required>
                </div>
                <div class="form-buttons" style="margin-top: 10px;">
                    <button type="submit" class="btn-custom">Add</button>
                    <button type="button" class="btn-custom" (click)="toggleAddModal()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Search Modal -->
    <div class="modal" [ngClass]="{'show': isSearchModalOpen}" id="searchModal">
        <div class="modal-content">
            <span class="close" (click)="toggleSearchModal()">&times;</span>
            <h3>Search Records</h3>
            <form (submit)="performSearch()">
                <div class="form-group">
                    <label for="searchAttendentID">Attendent ID</label>
                    <input type="text" id="searchAttendentID" [(ngModel)]="searchAttendentID" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchWorkerID">Worker ID</label>
                    <input type="text" id="searchWorkerID" [(ngModel)]="searchWorkerID" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchQuantity">Quantity</label>
                    <input type="number" id="searchQuantity" [(ngModel)]="searchQuantity" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchAlpha">Alpha</label>
                    <input type="text" id="searchAlpha" [(ngModel)]="searchAlpha" class="form-control">
                </div>
                <div class="form-buttons" style="margin-top: 10px;">
                    <button type="submit" class="btn-custom">Search</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Search in Table Modal -->
    <div class="modal" [ngClass]="{'show': isSearchInTableModalOpen}" id="searchInTableModal" *ngIf="isSearchInTableModalOpen">
        <div class="modal-content">
            <span class="close" (click)="toggleSearchInTableModal()">&times;</span>
            <h3>Search in This Table</h3>
            <form (ngSubmit)="performSearchInTable()">
                <div class="form-group">
                    <label for="searchAttendentIDTable">Attendent ID</label>
                    <input type="text" id="searchAttendentIDTable" [(ngModel)]="searchInTableAttendentID" name="searchAttendentIDTable" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchWorkerIDTable">Worker ID</label>
                    <input type="text" id="searchWorkerIDTable" [(ngModel)]="searchInTableWorkerID" name="searchWorkerIDTable" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchQuantityTable">Quantity</label>
                    <input type="number" id="searchQuantityTable" [(ngModel)]="searchInTableQuantity" name="searchQuantityTable" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchAlphaTable">Alpha</label>
                    <input type="text" id="searchAlphaTable" [(ngModel)]="searchInTableAlpha" name="searchAlphaTable" class="form-control">
                </div>
                <div class="form-buttons" style="margin-top: 10px;">
                    <button type="submit" class="btn-custom">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <app-footer></app-footer>
    </div>
</div>
