<div class="home-page">
    <div>
        <app-header></app-header>
    </div>
    
    <div class="container-fluid table-container">
        <div class="row justify-content-center"> <!-- Thêm class justify-content-center -->
            <div class="col-md-10"> <!-- Thêm một cột để giới hạn chiều rộng bảng -->
                <div style="font-size: 25px; font-weight: bolder; text-align: center; margin-bottom: 20px;">Account Managerment</div>
                <div class="button-container">
                    <button class="btn-custom" (click)="openAddModal()">Add</button>
                    <button class="btn-custom" (click)="openSearchModal()">Search</button>
                    <button class="btn-custom">View employees</button>
                </div>
                <table>
                        <thead>
                            <tr>
                              <th>No.</th>
                              <th>Username</th>
                              <th>Employee ID</th>
                              <th>Role</th>
                              <th>Status</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let account of accounts; let i = index">
                                <td>{{(i + 1)}}</td>
                                <td>{{account.username}}</td>
                                <td>{{account.employeeId}}</td>
                                <td>{{account.role.join(', ')}}</td>
                                <td>{{account.status}}</td>
                                <td>
                                    <button (click)="openEditModal(account)">Edit</button>
                                </td>
                                  </tr>
                          </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Add User Modal -->
    <div class="modal" [ngClass]="{'show': isAddModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeAddModal()">&times;</span>
            <h3>Add User</h3>
            <form (submit)="addUser()">
                <div class="form-group">
                    <label for="addUsername">Username</label>
                    <input type="text" placeholder="Username" id="addUsername" (input)="onUserChange('username', $event)" class="form-control">
                </div>
                <div class="form-group">
                    <label for="addPassword">Password</label>
                    <input type="text" placeholder="Password" id="addPassword" (input)="onPasswordChange($event)" class="form-control">
                </div>
                <div class="form-group">
                    <label for="addEmployeeID">Employee ID</label>
                    <input type="number" placeholder="Employee ID (only number not negative)" min="0" id="addEmployeeID" (input)="onUserChange('employeeId', $event)" class="form-control">
                </div>
                <div class="form-group">
                    <label>Choose roles:</label>
                    <div *ngFor="let item of roles">
                        <input 
                            type="checkbox" 
                            [value]="item" 
                            (change)="onCheckboxChange($event)" 
                            [checked]="newUser.role.includes(item)"
                        />
                        {{ item }}
                    </div>
                </div>
                <div class="form-buttons" style="margin-top: 10px;">
                    <button type="submit" class="btn-custom">Add User</button>
                </div>
            </form>
        </div>
    </div>



    <!-- Search Modal -->
    <div class="modal" [ngClass]="{'show': isSearchModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeSearchModal()">&times;</span>
            <h3>Search User</h3>
            <form (submit)="performSearch()">
                <div class="form-group">
                    <label for="searchUsername">Username</label>
                    <input type="text" placeholder="Username" id="searchUsername" (input)="onSearchChange('username', $event)" class="form-control">
                </div>
                <div class="form-group">
                    <label for="searchEmployeeID">Employee ID</label>
                    <input type="number" placeholder="Employee ID (only number not negative)" min="0" id="searchEmployeeID" (input)="onSearchChange('employeeId', $event)" class="form-control">
                </div>
                <div class="form-group">
                    <label>Roles:</label>
                    <div *ngFor="let role of roles">
                        <input 
                            type="checkbox" 
                            [value]="role" 
                            (change)="onRoleChange($event)" 
                            [checked]="selectedRoles.includes(role)"
                        />
                        {{ role }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="searchStatus">Status</label>
                    <select id="searchStatus" (change)="onSearchChange('status', $event)" class="form-control">
                        <option value="">--Select Status--</option>
                        <option value="Blocked">Blocked</option>
                        <option value="Actived">Actived</option>
                    </select>
                </div>
                <div class="form-buttons">
                    <button type="submit" style="margin-top: 10px;" class="btn-custom">Search</button>
                </div>
            </form>
        </div>
    </div>



    <!-- Modal sẽ chỉ hiển thị khi isEditModalOpen là true -->
    <div *ngIf="isEditModalOpen" class="modal-edit">
        <div class="modal-content">
            <span class="close" (click)="closeEditModal()">&times;</span>
            <h3>{{ titleEdit }}</h3>
            <form (submit)="saveEdit()">
                <div class="form-group">
                    <label for="editPassword">Password</label>
                    <input type="text" placeholder="New password" id="editPassword" (change)="onEditChange('password', $event)" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Roles:</label>
                    <div *ngFor="let role of roles">
                        <input 
                            type="checkbox" 
                            [value]="role" 
                            (change)="onRoleChangeEdit(role, $event)" 
                            [checked]="selectedUser.role.includes(role)"
                        />
                        {{ role }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="editStatus">Status</label>
                    <select id="editStatus" (change)="onEditChange('status', $event)" class="form-control">
                        <option value="">--Select Status--</option>
                        <option value="Blocked">Blocked</option>
                        <option value="Actived">Actived</option>
                    </select>
                </div>
                <div class="form-buttons" style="margin-top: 10px;">
                    <button type="submit" class="btn-custom">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
      


    <div>
        <app-footer></app-footer>
    </div>
</div>