.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.table-container {
    margin-top: 30px;
    flex: 1;
    overflow-x: auto; /* Cho phép bảng cuộn ngang nếu bị tràn */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgba(90, 90, 90, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(90, 90, 90, 0.2);
    background-color: white;
    font-size: 13px;
    margin-top: 10px;
    /* Đảm bảo bảng không vượt quá chiều rộng của container */
    table-layout: auto; 
}

.table-header {
    background-color: #f1f1f1;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(90, 90, 90, 0.2);
} 
.button-container {
    display: flex;
    justify-content: flex-start; /* Đẩy các nút sang bên phải */
}

.btn-custom {
    background-color: white; /* Nền trắng cho nút */
    color: black; /* Màu chữ đen */
    border: 1px solid rgba(90, 90, 90, 0.5); /* Viền đen nhạt */
    border-radius: 5px; /* Bo tròn các góc */
    padding: 5px 5px; /* Khoảng cách bên trong */
    margin-left: 10px; /* Khoảng cách giữa các nút */
    cursor: pointer; /* Đổi con trỏ khi hover */
    transition: all 0.3s ease; /* Hiệu ứng chuyển tiếp */
}

.btn-custom:hover {
    background-color: #007BFF; /* Màu nền khi hover */
    color: white; /* Đổi màu chữ thành trắng khi hover */
}

.btn-custom:active {
    transform: scale(0.95); /* Hiệu ứng nháy nhẹ khi bấm */
}

/* Nút hủy */
.cancel-btn {
    background-color: #f1f1f1;
}

.cancel-btn:hover {
    background-color: #dc3545;
    color: white;
}

.modal {
    display: none; /* Ẩn theo mặc định */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Nền tối khi mở modal */
}

.modal.show {
    display: block; /* Hiển thị modal khi có class 'show' */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Độ rộng của modal */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.action-edit-unique, .action-view-unique {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
    transition: background-color 0.3s ease;
}


/* MEDIA QUERY cho màn hình nhỏ hơn */
@media (max-width: 768px) {
    table {
        font-size: 12px; /* Giảm kích thước font chữ trên mobile */
    }

    th, td {
        padding: 8px; /* Giảm padding để bảng gọn hơn trên mobile */
    }

    .table-container {
        padding: 10px; /* Giảm khoảng cách xung quanh bảng */
    }
}
